<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GridFS File Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .custom-file-input {
            cursor: pointer;
        }
        .submit-button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center display-4 my-4">Mongo File Uploads</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" name="file" id="file" class="custom-file-input">
                    <label for="file" class="custom-file-label">Choose file</label>
                </div>
                <div class="input-group-append">
                    <button type="submit" value="submit" class=" btn btn-primary submit-button">Upload File</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
